{% extends 'base.html.twig' %}


{% block body %}

	<h1>Connexion</h1>

	{{form_start(form)}}
	{{form_row(form.email, {'label': 'Email' , 'attr': {'placeholder': 'Adresse email'}})}}
	{{form_row(form.password, {'label': 'Mot de passe' , 'attr': {'placeholder': 'Votre mot de passe'}})}}
	{{form_row(form.confirm_password, {'label': 'Confirmation mot de passe' , 'attr': {'placeholder': 'Votre mot de passe'}})}}
	<button type="submit" class="btn btn-success my-4">S'inscrire</button>
	{{form_end(form)}}

{% endblock %}
