{% extends 'base.html.twig' %}

{% block title 'Retrouvez tous les meilleurs pins au monde !' %}

{% block body %}
	<h1>All pins</h1>

	<section class="flex">

		{% for pin in pins %}

			<article style="width:600px">
				<h2>{{pin.title}}</h2>
				<div class="metadata">écrit le
					{{pin.createdAt | date('d/m/Y')}}
					à
					{{pin.createdAt | date('H:i')}}
					dans la catégorie politique</div>
				<div class="content">
					<img src={{pin.image}} alt="image_test">
					{{pin.content| raw}}
				</div>
				<a href="{{ path('pin_show', {'id' : pin.id}) }}" class="btn btn-primary">lire la suite</a>

			</article>

		{% endfor %}


	</section>


{% endblock %}
